<!DOCTYPE html>
<html class="no-js">
    <head>
        <!--#include virtual="/<%= SSILang %>ssi_commonhead.html" -->
    </head>
    <body data-page="Gallery">
        <!--#include virtual="/ssi_header.html" -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Publications</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--#include virtual="/<%= SSILang %>works/ssi_works.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_calltoaction.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_footer.html" -->
    </body>
</html>