
    <section id="gallery"
             class="gallery">
        <div class="container">
            <!-- #include virtual="/<%= SSILang %>works/ssi_works_menu.html" -->
            <div class="row">
                <% _.forEach(SRCData['products' + Lang], function(Product) { %>
                    <%= addTemplate('works/tpl_portfolio_work', Product) %>
                <% }) %>
            </div>
        </div>
    </section>