
	<div class="row Menu">
		<a href="#">All</a>
		<%
			var CatSlugs = _.difference(_.uniq([].concat.apply([], _.map(SRCData.products, function(Product) { return Product.categorieslist }))), ['destacado']);
			var Categories = _.filter(SRCData.productcategories, function(Categorie) { return _.indexOf(CatSlugs, Categorie.slug) != -1; });

			_.forEach(Categories, function(Categorie) {
		%>
			<a href="#"><%= Categorie.name %></a>
		<% }) %>
	</div>