<!DOCTYPE html>
<html class="no-js">
	<head>
		<!--#include virtual="/<%= SSILang %>ssi_commonhead.html" -->
	</head>
	<body data-page="Work" class="simpleCart_shelfItem">
		<!--#include virtual="/<%= SSILang %>ssi_header.html" -->
		<section class="global-page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h2 class="item_name"><%= Serie.name %></h2>
							<% _.forEach(_.filter(Serie.categories, function(Categorie) { return Categorie.slug != Config.Id; }), function(Categorie) { %>
								<strong><%= Categorie.name %></strong>
							<% }) %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%
			if(Serie.wc_productdata_options &&
			   Serie.wc_productdata_options._product_images_promo &&
			   Serie.wc_productdata_options._product_images_promo[1] &&
			   !isNaN(parseInt(Serie.wc_productdata_options._product_images_promo[1]))) {

				var ImagesCount = parseInt(Serie.wc_productdata_options._product_images_promo[1]);
				var ImagesView = _.times(ImagesCount, function(Index) {

					var ImageUrl = Serie.wc_productdata_options._product_images_promo[0] +
								   '/view/' +
								   _.padStart(Index + 1, 3, '0') +
								   '.jpg';

					return ImageUrl;
				});
				var ImagesFull = _.times(ImagesCount, function(Index) {

					var ImageUrl = Serie.wc_productdata_options._product_images_promo[0] +
								   '/full/' +
								   _.padStart(Index + 1, 3, '0') +
								   '.jpg';

					return ImageUrl;
				});
			} else {

				ImagesView = [Serie.images[0].src.replace('.jpg', ViewPrefix)];
				ImagesFull = [Serie.images[0].src.replace('.jpg', ViewPrefix)];
			}
		%>
		<section class="WorkSingle wow fadeInUp">
			<div class="MainImage">
				<a class="Image wow fadeInUp fancybox"
				   href="<%= ImagesFull[0] %>"
				   rel="Promo"
				   style="background-image: url(<%= ImagesView[0] %>)">
				</a>
			</div>
			<div class="OtherImages Count_<%= ImagesView.length - 1 %>">
				<% _.forEach(ImagesView, function(Image, Index) { if(Index != 0) { %>
					<div class="ImageWrapper">
						<a class="Image wow fadeInUp fancybox"
						   rel="Promo"
				   		   href="<%= ImagesFull[Index] %>"
						   style="background-image: url(<%= ImagesView[Index] %>)">
						</a>
					</div>
				<% }}) %>
			</div>
			<div class="Comprar">
				<a class="Buy item_add"
				   href="javascript:;">
					<%= T(Lang, 'Buy') %>
				</a>
			</div>
			<div class="Description"><%= Serie.description %></div>
			<div class="Info wow fadeInUp">
				<p>
					<strong>
						<% if(Serie.dimensions.width) { %>
							<%= Serie.dimensions.width %>
						<% } %>
					</strong>
					<strong>
						<% if(Serie.dimensions.height) { %>
							x <%= Serie.dimensions.height %>
						<% } %>
					</strong>

					<strong>
						<% if(Serie.dimensions.length) { %>
							 x <%= Serie.dimensions.length %>
						<% } %>
					</strong>
					cm.
				</p>
				<%= Serie.short_description %>
			</div>
			<div class="Price wow fadeInUp">
				<span class="Number item_price"><%= Serie.regular_price %></span>
				<span class="Currency">€</span>
			</div>
		</section>
		<%
			if(
				Serie.wc_productdata_options &&
				Serie.wc_productdata_options._product_has_flip_book &&
				Serie.wc_productdata_options._product_has_flip_book == 'yes' &&
				Serie.wc_productdata_options._product_flip_book_pages &&
				Serie.wc_productdata_options._product_flip_book_pages[1] &&
				!isNaN(parseInt(Serie.wc_productdata_options._product_flip_book_pages[1]))
			) {

				var PagesCount = parseInt(Serie.wc_productdata_options._product_flip_book_pages[1]);

				Serie.SSILang = SSILang;
				Serie.Lang = Lang;
				Serie.FlipBookPageImgSrcs = _.times(PagesCount, function(Index) {

					var PadIndex = _.padStart(Index + 1, 3, '0');

					return {
						Thumb: Serie.wc_productdata_options._product_flip_book_pages[0]  +
					   		  '/thumb/' + PadIndex + '.jpg',
						View: Serie.wc_productdata_options._product_flip_book_pages[0]  +
					   		  '/view/' + PadIndex + '.jpg',
						Full: Serie.wc_productdata_options._product_flip_book_pages[0]  +
					   		  '/full/' + PadIndex + '.jpg'
					};
				})
		%>
			<%= addTemplate('works/tpl_portfolio_work_single_flipbook', Serie) %>
		<% 	} %>
        <!--#include virtual="/ssi_calltoaction.html" -->
        <!--#include virtual="/ssi_footer.html" -->
	</body>
</html>