
	@import "../../styles/less/variable";
	@import "../../styles/less/mixin";

	.Messages {

		font-weight: 600;
		font-size: 80%;
		box-sizing: border-box;
		padding: @Space / 6 @Space / 2;
		text-align: right;

		&.Info { color: @InfoColor; }
		&.Warning { color: @WarningColor; }
		&.Error { color: @ErrorColor; }
	}