
	@import "../../styles/less/variable";
	@import "../../styles/less/mixin";

	@LogoSize: @Space / 3 * 10;

	#Home {

		.innerbox;
		background-color: @Lighter;
		margin-top: @Space * 1.5;

		.Logo {

			position: absolute;
			top: 50%;
			left: 50%;

			img {

				position: absolute;
				top: -@LogoSize / 2 - @Space / 6;
				left: -@LogoSize / 2;
				width: @LogoSize;
			}
		}

		.Satelite {

			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.6em;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			padding-top: @LogoSize / 2 + @Space / 3;
		}
	}