<div class="MainMenu">
	<div class="Logo">
		<img src="img/logo/satelite_aa.png"/>
		<span class="Text">Satelite</span>
	</div>
	<div class="Options">
		<div class="Option"
			 ng-repeat="(Key, Value) in Menu"
			 ng-class="Key"
			 ng-click="selectOption($event, Key)"
			 ng-if="!isMyState(Key)">{{ Value.Text }}</div>
	</div>
</div>