
	@import "../../styles/less/variable";
	@import "../../styles/less/mixin";

	@LogoHeight: @Space * 2 / 3;

	.MainMenu {

		background-color: @Light;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		text-align: right;
		height: @Space * 1.5;
		overflow: hidden;

		.Logo {

			float: left;
			padding: @Space / 3 0 0 @Space;

			img,
			.Satelite {

				display: inline-block;
				vertical-align: middle;
			}

			img {

				height: @LogoHeight;
			}

			.Text {

				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.3em;
				text-transform: uppercase;
				font-size: 80%;
				line-height: @LogoHeight;
			}
		}

		.Options {

			float: right;

			.Option {

				display: inline-block;
				vertical-align: middle;
				padding: @Space / 2 @Space;
				font-size: 80%;
				cursor: pointer;
				font-weight: 800;

				&:hover {

					background-color: @Dark;
					color: #fff;
				}
			}
		}
	}