
	@import (less) "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800";
	@import (less) "../css/normalize.css";
	@import (less) "../../libs/kendo-ui/styles/kendo.common.min.css";
	@import (less) "../../libs/kendo-ui/styles/kendo.material.min.css";

	body {

		font-family: "Open Sans";
	}

	// Kendo

	.k-grid td {

	    border-width: 0 0 1px 1px;
	}