
	.boxsizing {

		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	.innerbox {

		display: block;
		position:absolute;
		height:auto;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin-top:0;
		margin-bottom:0;
		margin-right:0;
		margin-left:0;
	}

	.ellipsis() {

	  width: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}