
	// Space module

	@Space: 30px;

	// Color

	@Lighter: #f9f9f9;
	@Light: #f4f4f4;
	@Medium: #f0f0f0;
	@Dark: #c3c3c3;
	@Darker: #969696;

	@InfoColor: #2fad45;
	@WarningColor: #de974b;
	@ErrorColor: #e01b1b;