
    <section id="gallery"
             class="gallery">
        <div class="container">
            <!-- #include virtual="/ca/works/ssi_works_menu.html" -->
            <div class="row">
                
                    
	<div class="col-sm-4 col-xs-12">
		<figure class="wow fadeInLeft animated portfolio-item"
				data-wow-duration="500ms"
				data-wow-delay="0ms">
			<div class="img-wrapper">
				<!-- img src="https://www.poeticsoft.com/wp-content/plugins/woocommerce/assets/images/placeholder.png"
					 class="img-responsive"
					 alt="this is a title" / -->
				<div class="overlay">
					<div class="buttons">
						<a rel="gallery"
						   class="Zoom fancybox"
						   href="https://www.poeticsoft.com/wp-content/plugins/woocommerce/assets/images/placeholder.png">
							<img src="/img/icons/zoom.svg"/>
						</a>
						<a class="View"
						   href="/works/work_610.html"></a>
					</div>
				</div>
			</div>
			<figcaption class="simpleCart_shelfItem">
				<h5>
					
						<strong>Col·leccionable</strong>
					
						<strong>intimateshibari</strong>
					
				</h5>
				<h4>
					<a href="/works/work_610.html">
						<strong class="item_name">IS-I Oruha Wind</strong>
					</a>
				</h4>
				<div class="Ficha">
					<p>
						<strong>21</strong> x
						<strong>21</strong> x
						<strong>21</strong> cm</p>
					<p><strong>0.18</strong> g</p>
				</div>
				<div class="Extra">
					<a href="javascript:;"
					   class="Buy item_add">
						
							<span class="Left">[ 50 ]</span>
						
						BUY
					</a>
				</div>
				<div class="Price">
					<span class="Number item_price">10</span>
					<span class="Currency">€</span>
				</div>
			</figcaption>
		</figure>
	</div>
                
            </div>
        </div>
    </section>