
	<section id="call-to-action">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <h2 class="title wow fadeInDown"
	                    	data-wow-delay=".3s"
	                    	data-wow-duration="500ms">
	                    	Preguntas?
	                    </h1>
	                    <div class="wow fadeInDown"
	                       data-wow-delay=".5s"
	                       data-wow-duration="500ms">
	                    	<p>Somos reales y estamos desando ayudarte, pregúntanos, sugiere cualquier cosa que se te ocurra para mejorar nuestro trabajo.</p>
	                    </div>
	                    <a href="contact.html"
	                       class="btn btn-default btn-contact wow fadeInDown"
	                       data-wow-delay=".7s"
	                       data-wow-duration="500ms">
	                    	Contacto
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>