
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInLeft"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<h2>
							Quién, Qué, Cuando ?
						</h2>
						<div class="Text">
							<p>Somos artistas,fotógrafos, modelos, atadores, apasionados del shibari, el arte de atar y ser atado de una manera estética y sensual.</p><p>Publicamos aquí nuestro trabajo en diferentes formatos: libros, pósters, fascículos coleccionables, etc.</p><p>Periódicamente puedes encontrar aquí nuevos trabajos, síguenos en <a href="https://www.instagram.com/intimateshibari/">instagram</a> | <a href="https://twitter.com/intimateshibari">twiter</a> | <a href="https://www.facebook.com/intimateshibari/">facebook</a> y mantente informado.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInRight"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<img src="http://cdn.poeticsoft.com/intimateshibari/img/about/view/001.jpg"
							 alt="Fotografía y shibari">
					</div>
				</div>
			</div>
		</div>
	</section>