
	
		<section id="works"
				 class="works">
			<div class="container">
				<div class="section-heading">
					<h1 class="title wow fadeInDown"
						data-wow-delay=".3s">
						First work!
					</h1>
					<div class="Text wow fadeInDown"
						 data-wow-delay=".5s">
						<p>This is our first project, fresh from the oven. A little gem that will run out very quickly.</p>
					</div>
				</div>
				
					
	<div class="col-sm-12 col-xs-12">
		<div class="PortfolioWorkSingle fadeInLeft animated simpleCart_shelfItem"
				data-wow-duration="500ms"
				data-wow-delay="0ms">
			<div class="Images">
				<div class="Slider">
					
							<div class="Image Image_0"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/001.jpg)"></div>
					
							<div class="Image Image_1"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/002.jpg)"></div>
					
							<div class="Image Image_2"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/003.jpg)"></div>
					
							<div class="Image Image_3"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/004.jpg)"></div>
					
							<div class="Image Image_4"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/005.jpg)"></div>
					
				</div>
				<div class="overlay">
					<div class="buttons">
						<a class="Buy item_add"
						   href="javascript:;">
							Buy
						</a>
						<a class="Info"
						   href="/works/work_610.html">+ Info</a>
					</div>
				</div>
				<div class="Price">
					<span class="Number item_price">10</span>
					<span class="Currency">€</span>
				</div>
			</div>
			<div class="Datas">
				<h4 class="Name">
					<a href="/works/work_610.html">
						<strong class="item_name">IS-I Oruha Wind</strong>
					</a>
				</h4>
				<div class="Description">
					<p>First installment of our collection Intimate Shibari, a serie of 15 images of the also first session of <a href="http://experience.tentesion.com">Shibari Experience</a>, a <a href="http://tentesion.com">Tentesion</a>'s project that continues active.<br />
In this item Oruha Wind, model, photographer, video artist, experience shibari sensations as if it were her first time. The images of those moments speak for themselves.</p>

				</div>
			</div>
		</div>
	</div>
				
			</div>
		</section>
	