
	<section id="call-to-action">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <h2 class="title wow fadeInDown"
	                    	data-wow-delay=".3s"
	                    	data-wow-duration="500ms">
	                    	Questions?
	                    </h1>
	                    <div class="wow fadeInDown"
	                       data-wow-delay=".5s"
	                       data-wow-duration="500ms">
	                    	<p>We are real people and we are wishing for help , ask , suggest anything you can think of to improve our work .</p>
	                    </div>
	                    <a href="contact.html"
	                       class="btn btn-default btn-contact wow fadeInDown"
	                       data-wow-delay=".7s"
	                       data-wow-duration="500ms">
	                    	Contact
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>