
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInLeft"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<h2>
							¿ Who, What, When ?
						</h2>
						<div class="Text">
							<p>We are artist, photogrphers, models, rigers, devoted to shibari, the art of tie and to be tied in a sensual and artistic way.</p><p>Here is our art works printed in multiple formats: book, poster, collectable prints, etc.</p><p>Periodically, you can find here our new publications, follow us in <a href="https://www.instagram.com/intimateshibari/">instagram</a> | <a href="https://twitter.com/intimateshibari">twiter</a> | <a href="https://www.facebook.com/intimateshibari/">facebook</a> and stay informed.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInRight"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<img src="http://cdn.poeticsoft.com/intimateshibari/img/about/view/001.jpg"
							 alt="Photography and shibari">
					</div>
				</div>
			</div>
		</div>
	</section>