
	@import "../../styles/less/variable";
	@import "../../styles/less/mixin";

	#Sites {

		.innerbox;
		margin-top: @Space * 1.5;
		background-color: @Lighter;

		.Grid {

			.innerbox;
			margin: @Space @Space @Space * 2 @Space;

			.k-grid-content{

				.innerbox;
				margin-top: 37px;
				height: auto !important;
			}

			.k-grid-pager {

				.innerbox;
				height: 41px;
				margin-top: auto;
			}
		}

		.Messages {

			.innerbox;
			margin: auto @Space @Space @Space;
			height: @Space;
			background-color: @Light;
		}
	}