
	<header id="top-bar"
			class="navbar-fixed-top animated-header">
		<div class="container">
			<div class="navbar-header">
				<button type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
					<a href="/index.html">
						<img src="/img/logo/logo_aa.png"
							 alt="shibari íntim">
					</a>
				</div>
			</div>
			<nav class="collapse navbar-collapse navbar-right" role="navigation">
				<div class="main-menu">
					<ul class="MainMenu nav navbar-nav navbar-right">
						
							<li class="">
								<a href="/index.html">
									Home
								</a>
							</li>
						
							<li class="">
								<a href="/contact.html">
									Contacte
								</a>
							</li>
						
					</ul>
				</div>
			</nav>
			<div class="ShoppingCart">
				<div class="simpleCart_items"></div>
				<div class="Resumen">
					<span class="Total">Total</span>
					<span class="simpleCart_total"></span>
				</div>
				<div class="Remite">
					<div class="Mail">
						<div class="Label">Necessitem el teu email per comunicar amb tu en el procés de compra.</div>
						<div class="EMail">
							<input type="email"
								   name="Email"
								   class="EMailInput"
								   placeholder="Your EMail"/>
						</div>
					</div>
				</div>
				<div class="Tools">
					<a href="javascript:;" class="simpleCart_empty">Empty</a>
					<a href="javascript:;" class="simpleCart_checkout">CheckOut</a>
					<a href="javascript:;" class="Close">
						<img src="/img/icons/close.svg"/>
					</a>
				</div>
			</div>
		</div>
		<div class="ShopCart">
			<a class="View"
			   href="#">
				<img src="/img/icons/viewshop.svg"/>
			</a>
			<a class="Close"
			   href="#">
				<img src="/img/icons/closeshop.svg"/>
			</a>
		</div>
	</header>