	<section id="hero-area">
		<script>
		var BackgroundImagesPath = 'http://cdn.poeticsoft.com/intimateshibari/img/hero/view/';
		var BackgroundImagesCount = 5;
		</script>
		<div class="Background"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 text-center">
	                <div class="block wow fadeInUp"
	                	 data-wow-delay=".3s">
	                    <section class="cd-intro">
	                        <h1 class="wow fadeInUp animated cd-headline slide"
	                        	data-wow-delay=".4s" >
	                            <span>Shibari Íntim</span>
	                            <br>
	                            <span class="cd-words-wrapper">
	                            	
	                            		<b>
	                            			Estètica contemporània
	                            		</b>
	                            	
	                            		<b>
	                            			Sensualitat artística
	                            		</b>
	                            	
	                            		<b>
	                            			obres irrepetibles
	                            		</b>
	                            	
	                            </span>
	                        </h1>
	                    </section>
	                    <h2 class="wow fadeInUp animated"
	                    	data-wow-delay=".6s">
	                    	Els millors fotògrafs, models i actors en publicacions periòdiques, llibres, pòsters i objectes d'art.
	                    </h2>
	                    <a class="HeroWorks btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default"
	                       data-wow-delay=".9s"
	                       href="#works"
	                       data-section="#works" >
	                    	Ja a la venda!
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>