
	<footer id="footer">
	    <div class="container">
	        <div class="col-md-8">
	            <p class="copyright"><a href="https://www.themefisher.com/free-bootstrap-templates/">Themefisher</a></p>
	        </div>
	        <div class="col-md-4">
	            <ul class="social">
	                <li>
	                    <a href="https://www.facebook.com/intimateshibari"
	                       class="Facebook"
	                       title="facebook.com/intimateshibari">
	                    	<i class="ion-social-facebook"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="https://twitter.com/intimateshibari"
	                       class="Twitter"
	                       title="twitter.com/intimateshibari">
	                    	<i class="ion-social-twitter"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="https://www.instagram.com/intimateshibari"
	                       class="Instagram"
	                       title="https://www.instagram.com/intimateshibari">
	                    	<i class="ion-social-instagram"></i>
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</footer>