
	<section id="call-to-action">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <h2 class="title wow fadeInDown"
	                    	data-wow-delay=".3s"
	                    	data-wow-duration="500ms">
	                    	Preguntes?
	                    </h1>
	                    <div class="wow fadeInDown"
	                       data-wow-delay=".5s"
	                       data-wow-duration="500ms">
	                    	<p>Som reals i estem desitjant ajudar-te, pregunta'ns , suggereix qualsevol cosa que se't passi per millorar el nostre treball.</p>
	                    </div>
	                    <a href="contact.html"
	                       class="btn btn-default btn-contact wow fadeInDown"
	                       data-wow-delay=".7s"
	                       data-wow-duration="500ms">
	                    	Contacte
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>