
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInLeft"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<h2>
							¿ Qui, Què, Quan ?
						</h2>
						<div class="Text">
							<p>Som artistes, fotògrafs, models, atadores, apassionats pel shibari, l'art de lligar i ser lligat d'una manera estètica i sensual</p><p>Publiquem aquí el nostre treball en diferents formats: llibres, pòsters, col·leccionables, etc.</p><p>Setmanalment pots trobar noves obres, segueix-nos a <a href="https://www.instagram.com/intimateshibari/">instagram</a> | <a href="https://twitter.com/intimateshibari">twiter</a> | <a href="https://www.facebook.com/intimateshibari/">facebook</a> i estigues informat.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInRight"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<img src="http://cdn.poeticsoft.com/intimateshibari/img/about/view/001.jpg"
							 alt="Fotografia i shibari">
					</div>
				</div>
			</div>
		</div>
	</section>