
	
		<section id="works"
				 class="works">
			<div class="container">
				<div class="section-heading">
					<h1 class="title wow fadeInDown"
						data-wow-delay=".3s">
						Comencem!
					</h1>
					<div class="Text wow fadeInDown"
						 data-wow-delay=".5s">
						<p>Aquest és el nostre primer projecte, acabat de sortir del forn. Una petita joia que s'esgotarà molt ràpidament.</p>
					</div>
				</div>
				
					
	<div class="col-sm-12 col-xs-12">
		<div class="PortfolioWorkSingle fadeInLeft animated simpleCart_shelfItem"
				data-wow-duration="500ms"
				data-wow-delay="0ms">
			<div class="Images">
				<div class="Slider">
					
							<div class="Image Image_0"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/001.jpg)"></div>
					
							<div class="Image Image_1"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/002.jpg)"></div>
					
							<div class="Image Image_2"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/003.jpg)"></div>
					
							<div class="Image Image_3"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/004.jpg)"></div>
					
							<div class="Image Image_4"
								 style="background-image: url(http://cdn.poeticsoft.com/intimateshibari/img/products/collectable/oruhawind/promo//view/005.jpg)"></div>
					
				</div>
				<div class="overlay">
					<div class="buttons">
						<a class="Buy item_add"
						   href="javascript:;">
							Comprar
						</a>
						<a class="Info"
						   href="/works/work_610.html">+ Info</a>
					</div>
				</div>
				<div class="Price">
					<span class="Number item_price">10</span>
					<span class="Currency">€</span>
				</div>
			</div>
			<div class="Datas">
				<h4 class="Name">
					<a href="/works/work_610.html">
						<strong class="item_name">IS-I Oruha Wind</strong>
					</a>
				</h4>
				<div class="Description">
					<p style="text-align: left;">Primer projecte de la nostra col·lecció Intimate Shibari, una sèrie de 15 imatges de la també primera sessió de <a href="http://experience.tentesion.com">Shibari Experience</a>, un projecte del fotògraf <a href="http://tentesion.com">Tentesion </a>que encara continua actiu.<br />
En aquest lliurament Oruha Wind, model, fotògrafa, vídeo artista, experimenta les sensacions del shibari com si fos la seva primera vegada. Les imatges d'aquests moments parlen per si mateixes.</p>

				</div>
			</div>
		</div>
	</div>
				
			</div>
		</section>
	