
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<title></title>
	
		<meta name="title" content="Intimate publications on shibari | Publicaciones íntimas sobre shibari">
	
		<meta name="subject" content="Intimate publications on shibari each week, Publicaciones íntimas sobre shibari cada semana">
	
		<meta name="description" content="The best photographers, riggers and models, published periodically in collectables, posters, books and art objects. Los mejores fotógrafos, modelos y atadores en publicaciones periódicas, libros, posters y objetos de arte">
	
		<meta name="keywords" content="shibari, kinbaku, photographer, barcelona, publications, fotografia, arte, libros">
	
		<meta name="author" content="NoShibari">
	
	<meta name=”google” content=”nositelinkssearchbox”>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
		content="width=device-width,
				 height=device-height,
				 user-scalable=no,
				 initial-scale=1.0,
				 maximum-scale=1.0,
				 minimum-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/main.js"></script>
	<script>

		var SiteConfig = {
			Id: 'intimateshibari',
			APIRoot:  'http://satelite.poeticsoft.com/api'
		};
		var Dic = {
    "Buy first!": {
        "es": "Ya a la venta!",
        "en": "Buy first publication!",
        "ca": "Ja a la venda!"
    },
    "View all": {
        "es": "Ver todo",
        "en": "View all",
        "ca": "Veure tot"
    },
    "Info": {
        "es": "+ Info",
        "en": "+ Info",
        "ca": "+ Info"
    },
    "Buy": {
        "es": "Comprar",
        "en": "Buy",
        "ca": "Comprar"
    },
    "Contact": {
        "es": "Contacto",
        "en": "Contact",
        "ca": "Contacte"
    },
    "View flipbook in web site": {
        "es": "Puedes ver una simulación en el sitio web",
        "en": "You can watch a simulation in web site",
        "ca": "Pots veure una simulació en el lloc web"
    },
    "FlipBook Legend": {
        "es": "Clica o toca las flechas, arrastra las esquinas de las páginas o usa las teclas < y > para pasar las páginas. Clica o toca las páginas para ver la imágen más grande.",
        "en": "Click / Tap arrows | Drag corners | use Arrow Keys to turn pages. Click | Tap Page to enlarge image.",
        "ca": "Clica o toca les fletxes, arrossega les cantonades de les pàgines o usa les tecles < i > per passar les pàgines. "
    },
    "Mail Pedido": {
        "es": "Necesitamos tu mail para comunicarnos contigo en el proceso de compra.",
        "en": "We need your email to contact you in the shoping process.",
        "ca": "Necessitem el teu email per comunicar amb tu en el procés de compra."
    }
};
		var T = function(Lang, Key, Datas) {

			var DicEntry = Dic[Key];
			return DicEntry ? DicEntry[Lang] : Key;
		};
	</script>