<!DOCTYPE html>
<html class="no-js">
    <head>
        <!--#include file="/<%= SSILang %>ssi_commonhead.html" -->
    </head>
    <body data-page="Contact">
        <!--#include virtual="/<%= SSILang %>ssi_header.html" -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Contact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 Form">
                        <div class="block">
                            <h2 class="subtitle wow fadeInDown"
                                data-wow-duration="500ms"
                                data-wow-delay=".3s">Contact With Me</h2>
                            <p class="subtitle-des wow fadeInDown"
                                data-wow-duration="500ms"
                                data-wow-delay=".5s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ea!
                                 consectetur adipisicing elit. Dolore, ea!
                            </p>
                            <div class="contact-form">
                                <form id="contact-form" method="post" action="<%= SRCData.Config.APIRoot %>/sites/contact" role="form">
                                    <input type="hidden" name="site" id="site" value="<%= SRCData.Config.Id %>" />
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name" required>
                                    </div>
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email" required>
                                    </div>
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                        <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject" required>
                                    </div>
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                        <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message" required></textarea>
                                    </div>

                                    <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                        <input type="submit" id="contact-submit" class="btn btn-default btn-send ContactSend" value="Send Message">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="map-area">
                            <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Find Us</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                                Si aute quis eu proident o cupidatat ne anim nescius, et est praesentibus, o quorum vidisse expetendis, nostrud eram quibusdam ad nam nostrud ubi.
                            </p>
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5987.016730849283!2d2.1779835!3d41.384765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1474370794017" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--#include virtual="/<%= SSILang %>/ssi_calltoaction.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_footer.html" -->
    </body>
</html>


