<!DOCTYPE html>
<html class="no-js">
    <head>
        <!--#include virtual="/<%= SSILang %>ssi_commonhead.html" -->
    </head>
    <body data-page="Home">
        <!--#include virtual="/<%= SSILang %>ssi_header.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_hero.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_about.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_portfolio.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_calltoaction.html" -->
        <!--#include virtual="/<%= SSILang %>ssi_footer.html" -->
    </body>