
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<title><%= SRCData.content.CommonHeader.Tags.Title %></title>
	<% _.forEach(SRCData.content.CommonHeader.Tags, function(Tag, Key) { %>
		<meta name="<%= Key %>" content="<%= Tag %>">
	<% }) %>
	<meta name=”google” content=”nositelinkssearchbox”>
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
		content="width=device-width,
				 height=device-height,
				 user-scalable=no,
				 initial-scale=1.0,
				 maximum-scale=1.0,
				 minimum-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/main.js"></script>
	<script>

		var SiteConfig = {
			Id: '<%= SRCData.Config.Id %>',
			APIRoot:  '<%= SRCData.Config.APIRoot %>'
		};
		var Dic = <%= JSON.stringify(SRCData.dic, null, 4) %>;
		var T = function(Lang, Key, Datas) {

			var DicEntry = Dic[Key];
			return DicEntry ? DicEntry[Lang] : Key;
		};
	</script>