
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInLeft"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<h2>
							<%= SRCData.content.About.Title[Lang] %>
						</h2>
						<div class="Text">
							<%= SRCData.content.About.Text[Lang] %>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="block wow fadeInRight"
						 data-wow-delay=".3s"
						 data-wow-duration="500ms">
						<img src="<%= SRCData.content.About.Image.File %>"
							 alt="<%= SRCData.content.About.Image.Alt[Lang] %>">
					</div>
				</div>
			</div>
		</div>
	</section>