
	<header id="top-bar"
			class="navbar-fixed-top animated-header">
		<div class="container">
			<div class="navbar-header">
				<button type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="sr-only"><%= T('Toggle navigation') %></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
					<a href="/index.html">
						<img src="<%= SRCData.content.Header.Logo.Image %>"
							 alt="<%= SRCData.content.Header.Logo.Alt[Lang] %>">
					</a>
				</div>
			</div>
			<nav class="collapse navbar-collapse navbar-right" role="navigation">
				<div class="main-menu">
					<ul class="MainMenu nav navbar-nav navbar-right">
						<% _.forEach(SRCData.nav, function(Option, Key) { %>
							<li class="<%= Option.Key %>">
								<a href="<%= Option.Target %>">
									<%= Option.Text[Lang] %>
								</a>
							</li>
						<% }) %>
					</ul>
				</div>
			</nav>
			<div class="ShoppingCart">
				<div class="simpleCart_items"></div>
				<div class="Resumen">
					<span class="Total"><%= T(Lang, 'Total') %></span>
					<span class="simpleCart_total"></span>
				</div>
				<div class="Remite">
					<div class="Mail">
						<div class="Label"><%= T(Lang, 'Mail Pedido') %></div>
						<div class="EMail">
							<input type="email"
								   name="Email"
								   class="EMailInput"
								   placeholder="<%= T(Lang, 'Your EMail') %>"/>
						</div>
					</div>
				</div>
				<div class="Tools">
					<a href="javascript:;" class="simpleCart_empty"><%= T(Lang, 'Empty') %></a>
					<a href="javascript:;" class="simpleCart_checkout"><%= T(Lang, 'CheckOut') %></a>
					<a href="javascript:;" class="Close">
						<img src="/img/icons/close.svg"/>
					</a>
				</div>
			</div>
		</div>
		<div class="ShopCart">
			<a class="View"
			   href="#">
				<img src="/img/icons/viewshop.svg"/>
			</a>
			<a class="Close"
			   href="#">
				<img src="/img/icons/closeshop.svg"/>
			</a>
		</div>
	</header>