
	<%
		var FeaturedProducts = _.filter(SRCData['products' + Lang], function(P) { return P.featured; });
		var FeaturedProductsCount = FeaturedProducts.length;
		if(FeaturedProductsCount > 0) { %>
		<section id="works"
				 class="works">
			<div class="container">
				<div class="section-heading">
					<h1 class="title wow fadeInDown"
						data-wow-delay=".3s">
						<%= SRCData.content.Works.Title[Lang] %>
					</h1>
					<div class="Text wow fadeInDown"
						 data-wow-delay=".5s">
						<%= SRCData.content.Works.Text[Lang] %>
					</div>
				</div>
				<% if(FeaturedProductsCount > 1) { %>
					<div class="row FeaturedProducts Featured_<%= FeaturedProductsCount %>">
						<%
							_.forEach(FeaturedProducts, function(Product) {

								Product.Lang = Lang;
						%>
		                	<%= addTemplate('works/tpl_portfolio_work', Product) %>
						<%
							})
						%>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="block wow fadeInUp"
								 data-wow-delay=".3s">
								<a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green"
								   data-wow-delay=".9s"
								   href="works">
									<%= T(Lang, 'View all') %>
								</a>
							</div>
						</div>
					</div>
				<%
					} else {

						FeaturedProducts[0].Lang = Lang;
				%>
					<%= addTemplate('works/tpl_portfolio_work_single', FeaturedProducts[0]) %>
				<%
					}
				%>
			</div>
		</section>
	<% } %>