
	<footer id="footer">
	    <div class="container">
	        <div class="col-md-8">
	            <p class="copyright"><a href="https://www.themefisher.com/free-bootstrap-templates/">Themefisher</a></p>
	        </div>
	        <div class="col-md-4">
	            <ul class="social">
	                <li>
	                    <a href="<%= SRCData.content.Social.Facebook.HREF %>"
	                       class="Facebook"
	                       title="<%= SRCData.content.Social.Facebook.Text %>">
	                    	<i class="ion-social-facebook"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="<%= SRCData.content.Social.Twitter.HREF %>"
	                       class="Twitter"
	                       title="<%= SRCData.content.Social.Twitter.Text %>">
	                    	<i class="ion-social-twitter"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="<%= SRCData.content.Social.Instagram.HREF %>"
	                       class="Instagram"
	                       title="<%= SRCData.content.Social.Instagram.HREF %>">
	                    	<i class="ion-social-instagram"></i>
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</footer>