	<section id="hero-area">
		<script>
		var BackgroundImagesPath = '<%= SRCData.content.Hero.BackgroundImages.Path %>';
		var BackgroundImagesCount = <%= SRCData.content.Hero.BackgroundImages.Count %>;
		</script>
		<div class="Background"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 text-center">
	                <div class="block wow fadeInUp"
	                	 data-wow-delay=".3s">
	                    <section class="cd-intro">
	                        <h1 class="wow fadeInUp animated cd-headline slide"
	                        	data-wow-delay=".4s" >
	                            <span><%= SRCData.content.Hero.Title[Lang] %></span>
	                            <br>
	                            <span class="cd-words-wrapper">
	                            	<% _.forEach(SRCData.content.Hero.CDWords, function(Word) { %>
	                            		<b>
	                            			<%= Word[Lang] %>
	                            		</b>
	                            	<% }) %>
	                            </span>
	                        </h1>
	                    </section>
	                    <h2 class="wow fadeInUp animated"
	                    	data-wow-delay=".6s">
	                    	<%= SRCData.content.Hero.Description[Lang] %>
	                    </h2>
	                    <a class="HeroWorks btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default"
	                       data-wow-delay=".9s"
	                       href="#works"
	                       data-section="#works" >
	                    	<%= T(Lang, 'Buy first!') %>
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>